@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Tourney:wght@700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background: url(../images/bac.jpg);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* position: absolute; */
  top: 6vw;
  left: 20vw;

}
.button {
  
  /* margin: 1vw 0vw; */
  font-family: "Baloo Bhai 2";
  font-size: 1.1rem;
  padding: 0.5vw;
  border: none;
  width: 16vw;
  border-radius: 7%;
  color: white;
  cursor: pointer;
}

.movies-buttton {
  background-color: rgb(199, 44, 44);
}
.series-button {
  background-color: rgb(15, 119, 110);
}

.songs-button {
  background-color: rgb(42, 37, 119);
}
.home-button{
    background-color: rgb(163, 84, 19);
}


.heading {
  text-transform: uppercase;
  font-family: "Tourney", cursive;
  text-align: center;
  margin: auto;
  font-size: 3rem;
  color: whitesmoke;
  margin-top: 2vw;
}

#player {
  width: 30vw;
  height: 68vh;
  margin-top: 8vw;
  margin-left: 8vw;
  border-radius: 30px;
  background-color: white;
}
#name {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 20px;
  font-family: "Baloo Bhai 2";
  letter-spacing: 0.05rem;
  color: rgb(179, 36, 36);
}
#artist {
  text-align: center;
  font-weight: lighter;
  text-transform: capitalize;
  margin-bottom: 20px;
  color: rgb(115, 117, 148);
}
.image {
  height: 15rem;
  width: 15rem;
  margin: auto;
}
img {
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 50%;

  box-shadow: 0px 2px 4px 3px rgb(65, 63, 63);
}

.song-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5rem;
  color: rgb(179, 36, 36);
}
.fa:hover {
  color: rgb(202, 86, 86);
}
.fa {
  cursor: pointer;
}

.fa-play {
  background-color: rgb(179, 36, 36);
  color: white;
  border-radius: 50%;
  padding: 13px;
  box-shadow: 0px 3px 4px 0.2px black;
}
.fa-pause {
  background-color: rgb(179, 36, 36);
  color: white;
  border-radius: 50%;
  padding: 13px;
  box-shadow: 0px 3px 4px 0.2px black;
}
.fa-play:hover,
.fa-music:hover {
  background-color: #bab6e6;
  color: rgb(179, 36, 36);
}
.footer{
  background-color:rgb(0, 0, 0);
  padding: 1.5vw;
  text-align: center;
  color: white;
}
.animation {
  animation: rotate 3s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}


@media screen and (max-width:1100px) {
  #player{
    width: 50vw;
   
  }
  .button{
    width: 30vw;
  }
}
@media screen and (max-width:550px){
   .button{
    
  margin:1vw 5vw;
   }
   #player{
     width: 65vw;
   }
}
@media screen and (max-width:550px){
  #player{
    width: 80vw;
  }
}